<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
 "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8">
      <title></title>
      <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Hind:300" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </meta>
  </head>
  <body>
    <div class="login">
      <h1>Track Skip Predictor</h1>
      <!-- Main Input For Receiving Query to our ML -->
      <form method="post" action="{{ url_for('predict')}}">
        <input name="acousticness"><input name="beat_strength"><input name="bounciness"><input name="danceability">
        <button class="btn btn-primary btn-block btn-large" type="submit">Predict</button>
        </form>
      <br><br>{{ prediction_text }} 
    </div>
  </body>
</html>
